<tr>
  <td style="
    padding-bottom: 24px;
    border-bottom: 1px solid #c6c6c6;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="
          padding-bottom: 24px;">
          <p style="
          margin: 0;
          font-size: 18px;
          line-height: 25px;
          font-weight: 400;
          color: #727272;">
            Добрый день!Мы заметили, что вы так и не начали использовать Octo Browser 😔 <br />
            Предлагаем пройти опрос, чтобы ваши ответы помогли нам стать лучше.
          </p>
        </td>
      </tr>
      <!-- Button/link section -->
      <tr>
        <td class="main-block__wrap" style="
          padding-bottom: 24px;">
          <table border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
              <td class=" btn" style="
                  background: #1890ff;
                  text-align: center;
                  border-radius: 4px;">
                <a href="#" title="Ссылка на " target="_blank" rel="noopener" style="
                    text-align: center;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #1890ff;
                    border: 1px solid #1890ff;
                    padding: 15px 19px;
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 4px;">
                  &nbsp;Пройти опрос&nbsp;
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Button/link section -->
      <tr>
        <td class="main-block__wrap" style="
                padding-bottom: 24px;">
          <p style="
                margin: 0;
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: #727272;">
            Мы будем рады видеть вас среди пользователей Octo Browser.
          </p>
        </td>
      </tr>
      <!-- End Text section -->

    </table>
  </td>
</tr>
